/* Smartphones */
body {
  margin: 0px;
}

.left.header {
  display: none;
}

.right-header {
  display: none;
}

.left.posts {
  display: none;
}

.right-posts {
  display: none;
}

.container {
  display: grid;
  gap: 0px 0px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F7F7F8;
  list-style-type: none;
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.postcard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2E3D49;
  height: 150px;
  background-image: url("../img/main-image-small.jpg");
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F7F7F8;
  list-style-type: none;
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.navbar-item {
  font-family: "Verdana", "Tahoma", "Arial";
  font-size: 0.8em;
  color: #014052;
}

.header-image {
  width: 35px;
  height: 35px;
}

h1 {
  color: #2E3D49;
  font-family: "Helvetica", "Georgia", "Arial";
  font-size: 1.5em;
  margin-bottom: 1vw;
  margin-left:5vw;
}

h2 {
  color: #6D7780;
  font-family: "Helvetica", "Georgia", "Arial";
  font-size: 0.7em;
  margin-top: 1vw;
  margin-right:5vw;
  text-align: right;
}

.post-main-page {
  color: #1F2932;
  font-family: "Verdana", "Tahoma", "Arial";
  font-size: 0.8em;
  margin-left:5vw;
  margin-right:5vw;
  align: justify;
}

.post-image {
  height: 15vw;
  width: 15vw;
  float: left;
  border-radius:15vw;
  margin-right: 2vw;
}

.read-more-link {
  font-family: "Verdana", "Tahoma", "Arial";
  color: #2E3D49;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2E3D49;
  list-style-type: none;
  height: 60px;
  margin: 0px;
  padding-bottom: 3vh;
}

.footer-text {
  font-family: "Verdana", "Tahoma", "Arial";
  font-size: 0.8em;
  color: #F9F9FA;
}

.subscribe-form {
  border: 0px solid #F9F9FA;
  outline: none;
}

/* Tablets and small screens */

@media (min-width: 480px) and (max-width:1024px) {
  .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10vh 25vh auto 10vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .navbar-wrap { grid-area: 1 / 1 / 2 / 5; }
  .social-wrap { grid-area: 1 / 5 / 2 / 6; }
  .postcard { grid-area: 2 / 1 / 3 / 6; }
  .post-wrap { grid-area: 3 / 1 / 4 / 6; }
  .subscribe-wrap { grid-area: 4 / 1 / 5 / 6; }

  .postcard {
    width: 100vw;
    height: 25vh;
    background-image: url("../img/main-image-large.jpg");
    background-size: cover;
  }

  .navbar {
    height: 10vh;
    justify-content: flex-start;
  }

  .social {
    height: 10vh;
  }

  .navbar-item {
    font-size: 1em;
    padding: 20px;
  }

  .header-image {
    width: 25px;
    height: 25px;
  }

  .post-image {
    height: 100px;
    width: 100px;
    float: left;
    border-radius:100px;
    margin-right: 2vw;
  }


  .main-post {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }

}



/* Big screens */


@media (min-width: 1025px) {

  .container {
  display: grid;
  grid-template-columns: 1fr 800px 225px repeat(2, 1fr);
  grid-template-rows: 100px 25vh auto 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .navbar-wrap { grid-area: 1 / 2 / 2 / 3; }
  .social-wrap { grid-area: 1 / 3 / 2 / 4; }
  .postcard { grid-area: 2 / 1 / 3 / 5; }
  .post-wrap { grid-area: 3 / 2 / 4 / 4; }
  .subscribe-wrap { grid-area: 4 / 1 / 5 / 5; }
  .left-header { grid-area: 1 / 1 / 2 / 2; }
  .right-header { grid-area: 1 / 4 / 2 / 5; }
  .left-posts { grid-area: 3 / 1 / 4 / 2; }
  .right-posts { grid-area: 3 / 4 / 4 / 5; }

  .postcard {
    width: 100vw;
    height: 25vh;
    background-image: url("../img/main-image-large.jpg");
    background-size: cover;
  }

  .navbar {
    height: 100px;
    justify-content: flex-start;
  }

  .social {
    height: 100px;
  }

  .navbar-item {
    font-size: 1em;
    padding: 20px;
  }

  .header-image {
    width: 25px;
    height: 25px;
  }

  .post-image {
    height: 100px;
    width: 100px;
    float: left;
    border-radius:100px;
    margin-right: 10px;
  }

  .main-post {
    width: 1025px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }

  .subscribe {
    width: 100vw;
  }

}
